.education {

  color: $white;
  background: rgb(0, 0, 0);
  background: linear-gradient(315deg, rgba(0, 0, 0, 1) 15%, rgba(193, 0, 0, 1) 40%, rgba(250, 0, 0, 1) 50%, rgba(136, 0, 0, 0.9808298319327731) 60%, rgba(0, 0, 0, 1) 85%);
  position: relative;

  &__row {
    display: flex;
    justify-content: space-between;


    &-wrapper {
      margin: 122px 0 70px;
      display: flex;
      justify-content: center;

    @include screen(1024) {
      margin: 35px 0;
    }

    @include screen(650){
      display: block;
      text-align: center;
    }
  }
  }

  &__column {
    max-width: 580px;
    text-align: start;
    padding: 0 40px;
    margin: 0 15px;
    width: 580px;
    height: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(167deg, rgba(0, 0, 0, 1) 29%, rgba(250, 0, 0, 0.9051995798319328) 75%, rgba(0, 0, 0, 1) 94%);
    padding-bottom: 70px;

    h3 {
      text-transform: uppercase;
      font-family: $raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.077;
      padding: 40px 0 40px;

      @include screen(1024) {
        padding: 20px 0;
      }
    }

    .text-18 {
      font-size: 18px;
      font-weight: 700;
      font-family: $roboto;
      line-height: 1.556;
      color: rgba(255, 255, 255, 0.902);
      padding: 11px 0 11px;
      text-transform: uppercase;
    }

    .text-16 {
      font-size: 16px;
      font-weight: 500;
      font-family: $roboto;
      color: rgba(255, 255, 255, 0.702);
      line-height: 1.438;
      padding: 11px 0 11px;


    }

    .add {
      font-style: 16px;
      font-weight: 400;
      font-family: $roboto;
      color: rgba(255, 255, 255, 0.502);
      line-height: 1.438;


      &:after {
        display: block;
        position: relative;
        content: '';
        max-width: 500px;
        height: 2px;
        background: $white_transparent;
        margin: 30px 0 30px;

      }
    }

    p {
      font-style: 16px;
      font-weight: 400;
      font-family: $roboto;
      color: rgba(255, 255, 255, 0.502);
      line-height: 1.438;
    }

    @include screen(1024) {
      width: calc(50% - 15px);
    }

    @include screen(650){
      width: calc(100% - 15px);
    }
  }
}